repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.8
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

- repo: https://github.com/PyCQA/bandit
  rev: 1.7.6
  hooks:
    - id: bandit
      args: ["-c", "pyproject.toml"]
      additional_dependencies: ["bandit[toml]"]

- repo: https://github.com/securego/gosec
  rev: v2.18.2
  hooks:
    - id: gosec
      args: ["./..."]

- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
    - id: clippy
    - id: cargo-check
